
    @import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    
    body {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0;
    }
    
    .main_module {
    background: url(https://i.ibb.co/Nn7wGwFn/image.png);
    height: 560px;
    width: auto;
    padding-top: 35px;
    padding-left: 85px;
    }
    
    h1 {
    font-size: 70px; 
    font-weight: 400;
    font-family: "Neucha", sans-serif;
    color: #00625e;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 200px;
    }
    
    h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #00625e;
    text-align: left;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 600px;
    }

    h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    text-align: left;
    margin-left: 0px;
    margin-top: 142px;
    margin-bottom: 1px;
    margin-right: 598px;
    }
    
    li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
        
    a {
    color: #00625E;
    text-decoration: none;
    }
    
    .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: #cee9ef;
    height: 100px;
    }
    
    .header_logo {
    margin-left: 83px;
    margin-top: 10px;
    }
    
    .header_logo-img {
    height: auto;
    width: 80%; 
    } 
    
    .header_menu {
    margin-left: 2px;
    color: #00625E;
    font-family: Neucha, sans-serif;
    font-size: 20px;
    /*color: #00625E;*/
    }
    
    .header_links {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
    text-decoration-color: #A5CED2;
    }
    
    .header_menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 34px;
    list-style: none;
    gap: 53px;
    margin-top: 8px;
    }
    
    .header_login {
    margin-left: 144px;
    padding-top: 33px;
    font-size: 20px;
    display: flex;
    align-items:center;
    gap: 15px;
    }
    
    .header_button {
    font-family: "Roboto Condensed", sans-serif;
    padding: 7px 24px;
    width: auto;
    border-radius: 6px;
    max-height: 85px;
    background: #A4D3DE no-repeat center;
    border: none;
    cursor: pointer;
    transition: background 0.25s ease-in-out;
    color: #00625E;
    }

